.loader-container {
    height: 100%;
    width: 100%;
    // position: fixed;
    // top: 0;
    // left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;


    .loader {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 5px solid #D1DFFF;
        border-top: 6px solid #3775FF;
        animation: spinner 1s linear infinite;
    }
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);

    }

    50% {
        border-top-width: 5px;
    }

    100% {
        transform: rotate(360deg);
    }
}