// font
$font-Roboto-Light: 'Roboto-Light', sans-serif;
$font-Roboto-Regular: 'Roboto-Regular', sans-serif;
$font-Roboto-Medium: 'Roboto-Medium', sans-serif;
$font-Roboto-Bold: 'Roboto-Bold', sans-serif;

//border-radius
$border-round: 50%;
$border-oval: 30px;
$border-rectangle: 12px;
$border-rectangle-large: 20px;
$border-primary: 22px;

/* Font  */
$font-color-white: #FFFFFF;
$font-color-dark: #000000;
$font-secondary: #cccccc;