// font
$font-Roboto-Italic: 'Roboto-Italic', sans-serif;
$font-Roboto-Thin: 'Roboto-Thin', sans-serif;
$font-Roboto-ThinItalic: 'Roboto-ThinItalic', sans-serif;
$font-Roboto-Light: 'Roboto-Light', sans-serif;
$font-Roboto-Regular: 'Roboto-Regular', sans-serif;
$font-Roboto-Medium: 'Roboto-Medium', sans-serif;
$font-Roboto--MediumItalic: 'Roboto-MediumItalic', sans-serif;
$font-Roboto-Black: 'Roboto-Black', sans-serif;
$font-Roboto-BlackItalic: 'Roboto-BlackItalic', sans-serif;
$font-Roboto-BoldItalic: 'Roboto-BoldItalic', sans-serif;
$font-Roboto-Bold: 'Roboto-Bold', sans-serif;

// border params
$border-width-1: 1px;
$border-width-2: 2px;

//border color
$border-color-light: #2DCCD3;
$border-color-dark: #012169;

//border-radius
$border-round: 50%;
$border-oval: 30px;
$border-rectangle: 12px;
$border-rectangle-large: 20px;
$border-primary: 22px;

/* Font  */
$font-color-white: #FFFFFF;
$font-color-dark: #020A1D;