.search-container {
    margin-bottom: 60px;

    input[type="search"] {
        width: 100%;
        padding: 20px;
        font-size: 18px;
        border: 1px solid $font-color-white;
        border-radius: $border-oval;
        box-shadow: none;
        outline: none;

        &::placeholder {
            color: $font-secondary;
        }
    }
}