.logo {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin-bottom: 60px;
    position: relative;
    z-index: 9;
}

.logo-text {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    border: 2px dashed #ffffff;
    border-radius: 8px;
    cursor: pointer;
}
