.movie-list-wrap {
    .movie-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    .listing-error {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}